.header {
  background-color: #c1e3ff;
}
.header .text {
  height: calc(65vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.header .text h1 {
  font-size: 95px;
  color: rgba(0, 0, 0, 0.8);
}
.header .text p {
  font-size: 17px;
  width: 50%;
  color: gray;
}
@media (max-width: 768px) {
  .header .text p {
    width: 95%;
    font-size: 15px;
  }
  .header .text h1 {
    font-size: 65px;
  }
}
